.navbar-div-first{
    width: 20%;
    height: 40rem;
    background-color: var(--home-color);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: var(--primary-color);
    margin-top: 10rem;
}
.homepage-card-container{
    display: flex;
    background-color: var(--home-color);
    height: 70rem;
}
.quiz-button{
    width: 100%;
    font-size: 3rem;
    text-decoration: none;
    background-color: var(--home-color);
    color: var(--primary-color);
}
.quiz-button:hover{
    color: var(--border-color);
}
.img-container{
    width: 100%;
    height: 100%;
}
@media (max-width: 500px) {
    .homepage-card-container{
        display: flex;
        flex-direction: column;
        height: 125rem;
    }
    .navbar-div-first{
        width: 50%;
        height: 25rem;
    }    
}