
:root {
    --primary-color : #001B2E ;
    --white: white ;
    --tertiary-color : #023E8A;
    --navbar-hover: #AED1E6;
    --navbar-shadow: rgba(50, 50, 93, 0.25);
    --navbar-shad: rgba(0, 0, 0, 0.3);
    --border-color: #777;
    --card-shadow: rgba(0, 0, 0, .2);
    --home-color : #adb5bd;
}
*{
    margin: 0;
    padding: 0;
}
